<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ios11.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EFEA00A01CCEE5700094306F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFEA00B41CCEE5710094306F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFEA00BF1CCEE5710094306F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
